{% extends "base.html" %}
{% block title %}{{ product.name }} | Unirise Barcode{% endblock %}
{% block content %}

<div class="row">

    <div class="col-md-6">
        {% if product.image %}
        <img src="{{ url_for('static', filename='uploads/' + product.image) }}" class="img-fluid rounded shadow">
        {% endif %}
    </div>

    <div class="card p-4 mt-4">
        <h5>Product Enquiry</h5>
        <form method="POST" action="{{ url_for('contact') }}">
            <input type="text" name="name" class="form-control mb-3" placeholder="Your Name" required>
            <input type="text" name="phone" class="form-control mb-3" placeholder="Phone Number" required>
            <button class="btn btn-primary w-100">Submit Enquiry</button>
        </form>
    </div>
</div>

{% endblock %}